$primaryColor: #0095e8;
$primaryLightColor: #0095e8;
$primaryDarkColor: #0068b5;
$primaryTextColor : #eee;

$font-nav: 'Averia Libre', cursive;

$font-stack : Georgia, Times, serif;
$font-base: 16px;
$font-large: 40px;

$font-size-nav-bar: 20px;

$default-margin: 10px;