$primaryColor: #0095e8;
$primaryLightColor: #0095e8;
$primaryDarkColor: #0068b5;
$primaryTextColor : #eee;

 $img-btn-color: #89d700;
 $img-btn-text-color: #FFFFFF;


$font-nav: 'Averia Libre', cursive;
$font-dosis:'Dosis', sans-serif;;

$font-stack : Georgia, Times, serif;
$font-base: 3vw;
$font-medium: 2.5vw;
$font-large: 4vw;
$font-x-large: 5vw;


$font-size-nav-bar: 20px;

$default-margin: 10px;