@import '../SASS/main.scss';

.blog {
    text-align: center;
    margin-top: 40px;
    padding: 0px;
    border: 0;
    &:hover{
        -webkit-box-shadow: 4px 8px 10px -5px rgba(0,0,0,0.75);
        -moz-box-shadow: 4px 8px 10px -5px rgba(0,0,0,0.75);
        box-shadow: 4px 8px 10px -5px rgba(0,0,0,0.75);
    }

}

.blog .blog__inner {
    background: #ffffff none repeat scroll 0 0;
    padding-top: 40px;
}
.blog .blog__date {
    background: #89d700 none repeat scroll 0 0;
    height: 40px;
    line-height: 40px;
}
.blog .blog__date span {
    color: #ffffff;
    margin: auto;
    text-align: center;
    justify-content: center;

}
.blog .blog__inner p {
    font-size: 14px;
    line-height: 27px;
    margin-bottom: 36px;
    padding: 0 23px;
    color: #777777;
}
.blog .blog__inner h4 a {
    color: #333333;
    display: block;
    font-family: "Dosis", sans-serif;
    font-size: 22px;
    font-weight: 700;
    text-decoration: none;
    margin-bottom: 16px;
    margin-top: 6px;
    transition: all 0.3s ease 0s;
    &:hover{
        color: $img-btn-color;
    }
}

.blog .blog__inner ul.blog__meta {
    align-items: center;
    background: #89d700 none repeat scroll 0 0;
    height: 40px;
    padding: 0 20px;
    margin-bottom: 0;   
    position: relative;
}

.blog .blog__inner ul.blog__meta::before {
    background: #fff none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 50%;
    position: absolute;
    width: 1px;
}
.blog .blog__inner ul.blog__meta li a {
    color: #ffffff;
    text-decoration: none;
}
blog .blog__thumb a img {
    width: 100%;
}

