@import '../SASS/main.scss';

.container-5{
    padding-top: 5%;
    padding-bottom: 5%;
    background-image: url(https://d29u17ylf1ylz9.cloudfront.net/junior/images/bg/3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;  
}